<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="automation-tests"
       thread-count="4"
       parallel="methods">
    <test name="Tests" >
        <classes>
            <class name="org.kira.automation.TestBrowserWithRunner" />
            <class name="org.kira.automation.TestScreenshot"></class>
            <class name="org.kira.automation.api.UserApiTest"></class>
            <class name="org.kira.automation.RedisConnectorTest"></class>

        </classes>
    </test>
</suite>

